/*
    MEDIA QUERIES
*/

@media screen and (max-width: 400px){

    /*
        INSTRUCTIONS
    */

    .instructionsContainer {
        overflow-y: scroll;
    }

    /*
        CLASSES FOR DIFFICULTY
    */

    .gameBoard.easy, .gameBoard.normal, .gameBoard.hard {
        width: 250px !important;
        min-height: 250px !important;
    }

    .gameBoard.easy .card {
        height: 90px !important;
        width: 90px !important;
    }

    .gameBoard.normal .card {
        height: 60px !important;
        width: 60px !important;
    }

    .gameBoard.hard .card {
        height: 45px !important;
        width: 45px !important;
    }
}

/*
    GLOBAL
*/

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: url('../img/geometry2.png');
}

#gameContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*
    INSTRUCTIONS
*/

.instructionsContainer {
    padding: 30px;
}

.backToMainMenu {
    width: 50px;
    height: 50px;
    text-decoration: none;
}

/*
    MENU
*/

.menuContainer, .instructionsContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 200px;
    min-height: 100px;
    max-height: 90%;
    max-width: 90%;

    background: #2e3d49;
    color: #fff;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    border-radius: 8px;
}

.menuTitle {
    text-align: center;
}

.menuOptionsList {
    margin-top: 40px;
    list-style-type: none;
    padding: 0;
}

.menuOptionsList li {
    display: table;
    margin: 0 auto;
    text-align: center;
    width: 100px;
    height: 40px;
    padding: 0 10px 0 10px;
    cursor: pointer;
}

.menuOptionsList li h3 {
    vertical-align: center;
}

/*
    GAMEBOARD & CARDS
*/

.boardContainer {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.gameBoard {
    width: 660px;
    min-height: 400px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.gameTitle {
    text-align: center;
}

.gameBoard .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    transition: 0.6s;
    transform-style: preserve-3d;
}

.gameBoard .card.open {
    transform: rotateY(180deg);
    background: #02b3e4;
    cursor: default;
}

.gameBoard .card.show {
    font-size: 33px;
}
/*
    MISC
*/

.hovered {
    border-radius: 10px;
    background: #ada8ad;
}
.gameBoard .card.match {
    background: #02e4b3;
}

.gameBoard .card.noMatch {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}


/*
    CLASSES FOR DIFFICULTY
*/

.gameBoard.easy {
    width: 300px;
}

.gameBoard.normal {
    width: 550px;
    min-height: 550px;
}

.gameBoard.hard {
    width: 660px;
    min-height: 660px;
}
